body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App .loginForm{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background-color: aqua;
}

.signUp{

  margin-top : 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background-color: blueviolet;
}


.headerTodoList{
  width: 500px;
  margin-bottom: 50px;
  border:1px solid #000;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.headerTodoList .getTodo button{
  margin-top : 30px;
}

.headerTodoList div{
  margin-right: 40px;
}

.todoTable{
  width: 900px;
  border: 1px solid #000;  
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  }

.todoTable td{
  width: 100px;
  border: 1px solid;
  text-align : center;
}